<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snagged</title>
</head>
<body>
    <h1>Select a Category</h1>
    <form action="/jobs" method="post">
        <label for="category">Choose a Category</label>
        <select name="category" id="category">
            <option value="Full-Stack Programming">Full-Stack Programming</option>
            <option value="Back-End Programming">Back-End Programming</option>
            <option value="Front-End Programming">Front-End Programming</option>
            <option value="All Programming">All Programming</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html> 